In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("/home/admn/Downloads/zoo1.csv")
df.head()

,animal_name,hair,feathers,egg,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tails,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [3]:
class_type_output = df["class_type"]
df = df.drop("class_type", axis=1).drop("animal_name",axis=1)
print(df)

     hair  feathers  egg  milk  airborne  aquatic  predator  toothed  \
0       1         0    0     1         0        0         1        1
1       1         0    0     1         0        0         0        1
2       0         0    1     0         0        1         1        1
3       1         0    0     1         0        0         1        1
4       1         0    0     1         0        0         1        1
..    ...       ...  ...   ...       ...      ...       ...      ...
96      1         0    0     1         0        0         0        1
97      1         0    1     0         1        0         0        0
98      1         0    0     1         0        0         1        1
99      0         0    1     0         0        0         0        0
100     0         1    1     0         1        0         0        0

     backbone  breathes  venomous  fins  legs  tails  domestic  catsize
0           1         1         0     0     4      0         0        1
1           1         1         0     0     4      1         0        1
2           1         0         0     1     0      1         0        0
3           1         1         0     0     4      0         0        1
4           1         1         0     0     4      1         0        1
..        ...       ...       ...   ...   ...    ...       ...      ...
96          1         1         0     0     2      1         0        1
97          0         1         1     0     6      0         0        0
98          1         1         0     0     4      1         0        1
99          0         1         0     0     0      0         0        0
100         1         1         0     0     2      1         0        0

[101 rows x 16 columns]

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, class_type_output, test_size=0.20)

In [5]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)

DecisionTreeClassifier()

In [6]:
y_prediction = classifier.predict(x_test)
y_prediction

array([1, 2, 7, 7, 2, 1, 7, 1, 4, 4, 7, 1, 1, 2, 5, 1, 2, 2, 1, 5, 1])

In [7]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
confusion_matrix(y_test,y_prediction)

array([[8, 0, 0, 0, 0, 0],
       [0, 5, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 2, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 4]])

In [10]:
print(classification_report(y_test, y_prediction))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         8
           2       1.00      1.00      1.00         5
           3       0.00      0.00      0.00         1
           4       1.00      1.00      1.00         2
           5       0.50      1.00      0.67         1
           7       1.00      1.00      1.00         4

    accuracy                           0.95        21
   macro avg       0.75      0.83      0.78        21
weighted avg       0.93      0.95      0.94        21

/home/admn/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/admn/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/admn/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [9]:
print(accuracy_score(y_test, y_prediction))

0.9523809523809523

In [13]:
predicted_class = list(y_prediction)
actual_class = list(y_test)
for i in range(len(predicted_class)):
    print("Predicted class =", predicted_class[i],"\tActual class =",actual_class[i])

Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 7 	Actual class = 7
Predicted class = 7 	Actual class = 7
Predicted class = 2 	Actual class = 2
Predicted class = 1 	Actual class = 1
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 4 	Actual class = 4
Predicted class = 4 	Actual class = 4
Predicted class = 7 	Actual class = 7
Predicted class = 1 	Actual class = 1
Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 5 	Actual class = 3
Predicted class = 1 	Actual class = 1
Predicted class = 2 	Actual class = 2
Predicted class = 2 	Actual class = 2
Predicted class = 1 	Actual class = 1
Predicted class = 5 	Actual class = 5
Predicted class = 1 	Actual class = 1